@{
    ViewData["Title"] = "Home Page";
}

@section Script{
    <script type="text/javascript">
        new Vue({
            el: "#main",
            data: {
                list: [
                    { "id": 1, "name": "屏幕截图", "desc": "icPick 是一款优秀的免费屏幕截图工具，汇集屏幕截取、取色器、调色板、放大镜、标尺、量角器、坐标轴、白板等功能于一身。 PicPick 支持的屏幕截图模式包括：全屏、活动窗口、滚动窗口、矩形区域、固定区域、手绘区域、重复", author: "雨辰", createtime: "2019-9-16 17:24:50" },
                    { "id": 2, "name": "屏幕截图1", "desc": "icPick 是一款优秀的免费屏幕截图工具", author: "雨辰", createtime: "2019-9-16 17:24:50" },
                    { "id": 3, "name": "屏幕截图2", "desc": "icPick 是一款优秀的免费屏幕截图工具", author: "雨辰", createtime: "2019-9-16 17:24:50" }
                ]
            },
            methods: {
                download: function () {
                    $.get('/Home/GetUrl', {}, function (data) {
                        console.log(data);
                        location.href = "http://" + data;
                    });
                }
            }
        });
    </script>
}

<div class="layui-col-md8">
    <div class="fly-panel" style="margin-bottom: 0;">

        <ul class="fly-list" id="main">
            <li v-for="(item,index) in list">
                <a href="#" class="fly-pic"><img src="http://image.tnblog.net/two_7827c815e90740d88ce58411ed22df1e.jpeg" alt="贤心"></a>
                <h2><a href="detail.html">{{item.name}}</a></h2>
                <div class="fly-list-desc">{{item.desc}} </div>
                <div class="fly-list-info">
                    <a href="#" link=""><cite>{{item.author}}</cite></a>
                    <span>{{item.createtime}}</span>
                    <span class="fly-list-kiss layui-hide-xs" title="获赞"><i class="iconfont icon-zan"></i> 60</span>
                    <span class="fly-list-nums"><i class="iconfont icon-yulan1" title="浏览"></i> 66</span>
                    <button @@click="download()">down</button>
                </div>



            </li>

            <li>
                <a href="user/home.html" class="fly-pic">
                    <img src="http://image.tnblog.net/two_7827c815e90740d88ce58411ed22df1e.jpeg" alt="贤心">
                </a>
                <h2>
                    @*<a class="layui-badge">分享</a>*@
                    <a href="detail.html">基于 layui 的极简社区页面模版基于 layui 的极简社区页面模版基于 layui 的极简社区页面模版基于 layui 的极简社区页面模版</a>
                </h2>
                <div class="fly-list-desc">
                    icPick 是一款优秀的免费屏幕截图工具，汇集屏幕截取、取色器、调色板、放大镜、标尺、量角器、坐标轴、白板等功能于一身。 PicPick 支持的屏幕截图模式包括：全屏、活动窗口、滚动窗口、矩形区域、固定区域、手绘区域、重复上次截取等，这应该满足绝大部分需求了。 截图后默认在 PicPick 编辑器中打开，在此编辑器中可以设置图片效果、添加标注信息，然后保存为
                </div>
                <div class="fly-list-info">
                    <a href="user/home.html" link="">
                        <cite>雨辰</cite>
                        <!--
                        <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                        <i class="layui-badge fly-badge-vip">VIP3</i>
                        -->
                    </a>
                    <span>2019-9-16 17:24:50</span>

                    <span class="fly-list-kiss layui-hide-xs" title="获赞"><i class="iconfont icon-zan"></i> 60</span>
                    <button @@click="download()">down</button>
                    <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
                    <span class="fly-list-nums">
                        <i class="iconfont icon-yulan1" title="浏览"></i> 66
                    </span>
                </div>
                <div class="fly-list-badge">
                    @*<span class="layui-badge layui-bg-black">置顶</span>*@
                    <!--<span class="layui-badge layui-bg-red">精帖</span>-->
                </div>
            </li>
        </ul>

        <!-- <div class="fly-none">没有相关数据</div> -->

        <div style="text-align: center">
            <div class="laypage-main"><span class="laypage-curr">1</span><a href="/jie/page/2/">2</a><a href="/jie/page/3/">3</a><a href="/jie/page/4/">4</a><a href="/jie/page/5/">5</a><span>…</span><a href="/jie/page/148/" class="laypage-last" title="尾页">尾页</a><a href="/jie/page/2/" class="laypage-next">下一页</a></div>
        </div>

    </div>
</div>
<div class="layui-col-md4">
    <div class="fly-panel">
        <div class="fly-panel-title">
            下载/总量
        </div>
        <div class="fly-panel-main">
            <a href="" target="_blank" class="fly-zanzhu" style="/*background-color: #3498db;*/font-size:40px; ">100/1000</a>
        </div>
    </div>

    <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title">下载排行</dt>
        <dd>
            <a href="">基于 layui 的极简社区页面模版</a>
            <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
            <a href="">基于 layui 的极简社区页面模版</a>
            <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
            <a href="">基于 layui 的极简社区页面模版</a>
            <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
            <a href="">基于 layui 的极简社区页面模版</a>
            <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
            <a href="">基于 layui 的极简社区页面模版</a>
            <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
            <a href="">基于 layui 的极简社区页面模版</a>
            <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
            <a href="">基于 layui 的极简社区页面模版</a>
            <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
            <a href="">基于 layui 的极简社区页面模版</a>
            <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
            <a href="">基于 layui 的极简社区页面模版</a>
            <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
            <a href="">基于 layui 的极简社区页面模版</a>
            <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>

        <!-- 无数据时 -->
        <!--
        <div class="fly-none">没有相关数据</div>
        -->
    </dl>


    <div class="fly-panel fly-link">
        <h3 class="fly-panel-title">友情链接</h3>
        <dl class="fly-panel-main">
            <dd><a href="http://www.layui.com/" target="_blank">layui</a></dd>
            <dd>
            </dd>
            <dd><a href="http://layim.layui.com/" target="_blank">WebIM</a></dd>
            <dd>
            </dd>
            <dd><a href="http://layer.layui.com/" target="_blank">layer</a></dd>
            <dd>
            </dd>
            <dd><a href="http://www.layui.com/laydate/" target="_blank">layDate</a></dd>
            <dd>
            </dd>
            <dd><a href="mailto:xianxin@layui-inc.com?subject=%E7%94%B3%E8%AF%B7Fly%E7%A4%BE%E5%8C%BA%E5%8F%8B%E9%93%BE" class="fly-link">申请友链</a></dd>
            <dd>
            </dd>
        </dl>
    </div>

</div>
