<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PCloud.We1b</title>


    <link rel="stylesheet" href="~/lib/layui/css/layui.css" />
    <link href="~/css/global.css" rel="stylesheet" />
</head>
<body>
    <div class="fly-header fly-panel fly-column">
        <div class="layui-container">
            <ul class="layui-clear">
                <li class="layui-this"><a href="/">首页</a></li>
                <li class=""><a href="">提问</a></li>
                <li><a href="">分享<span class="layui-badge-dot"></span></a></li>
                <li><a href="">讨论</a></li>
                <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>
                <!-- 用户登入后显示 -->
            </ul>
            <div class="fly-column-right layui-hide-xs">
                <span class="fly-search"><i class="layui-icon"></i></span>
                <a href="add.html" class="layui-btn">其他</a>
            </div>

        </div>
    </div>
    <div class="layui-container">
            @RenderBody()
    </div>

    <script src="~/lib/layui/layui.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>